/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .name{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li{
    font-size: 20px;
    margin-right: 13px;
  }

  .bleft-text{
    padding-left: 125px;
  }

  .evo{
    width: 480px;
    height: 410px;
    margin-left: 18px;
    padding-bottom: 0px;
  }

  . evo spyder{
    width: 480px;
    height: 465px;
    margin-left: 18px;
    padding-bottom: 0px;
  }

  .sto{
    width: 480px;
    height: 410px;
    margin-left: 10px;
    padding-right: 15px;
  }

  .sto{
    width: 480px;
    height: 410px;
    margin-left: 18px;
    padding-bottom: 0px;
  }

  .evo{
    width: 480px;
    height: 410px;
    margin-left: 18px;
    padding-bottom: 0px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu{
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }

  .bleft-text{
    font-size: 18px;
  }

  .btext{
    font-size: 18px;
  }

  .evo spyder{
    width: 380px;
    height: 335px;
  }

  .evo s{
    width: 380px;
    height: 365px;
  }

  .evo rwd{
    width: 380px;
    height: 335px;
    margin-left: 0px;
  }

  .evo rwd{
    width: 380px;
    height: 335px;
  }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header{
    background: linear-gradient(110.77deg, #262525 31.11%, #FF9330 20.11%);
  }

  .menu{
    display: none;
  }

  .menu-open{
    display: block;
    position: absolute; 
    top: 20px; 
    left: 88%;
  }

  .bleft-text{
    padding-left: 60px;
    padding-right: 35px;
  }

  .btext{
    padding-left: 60px;
    padding-right: 35px;
  }


/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header{
    background: linear-gradient(110.77deg, #262525 45.11%, #FF9330 20.11%);
  }

  .menu-open{
    left: 78%;
  }

  .header .show-menu{
    left: 55%;
  }

  .leftimg{
    float: none;
  }

  .rightimg{
    float: none;
  }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
