/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1500px) {
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .name{
    padding-right: 0px;
    padding-left: 15px;
    font-size: 24px;
  }

  .menu li{
    font-size: 20px;
    margin-right: 13px;
  }
  .text-navi{
    width: 670px;
  }

  .text-spirit{
    padding-left: 18px;
    padding-top: 115px;
    padding-bottom: 160px;
    width: 470px;

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu{
    padding-left: 30px;
  }

  .menu li {
    font-size: 17px;
    margin-right: 13px;
    padding-left: 0px;
  }

  .name {
    padding-right: 0px;

    font-size: 18px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header{
    background: linear-gradient(110.77deg, #262525 31.11%, #FF9330 20.11%);
  }

  .menu{
    display: none;
  }

  .menu-open{
    display: block;
    position: absolute; 
    top: 20px; 
    left: 88%;
  }

  .navipng {
    width: 450px;
    height: 380px;
    padding-top: 0px;
  }

  .text-navi {
    float: none;
    width: 420px;
    font-size: 18px;
  }

  .text-spirit{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 18px;
    width: 420px;
    height: 384px;
    padding-left: 36px;
    padding-bottom: 0px;
  }

  .spirit{
    width: 450px;
    height: 380px;
    margin-top: 0px;
    margin-left: 18px;

  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header{
    background: linear-gradient(110.77deg, #262525 45.11%, #FF9330 20.11%);
  }

  .menu-open{
    left: 78%;
  }

  .header .show-menu{
    left: 55%;
  }

  .navi{
    padding-left: 9px;
  }

  .navipng{
    width: 300px;
    height: 250px;
  }

  .text-navi{
    width: 300px;
    margin-right: 10px;
  }

  .text-spirit{
    margin-top: 110px;
    width: 300px;
    padding-left: 11px;
  }

  .spirit{
    width: 300px;
    height: 250px;
    margin-top: 78px;
    margin-left: 9px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
